footer{
    height: 3em;
    width: 100%;
    bottom: 0;
    background-color: #4b4b4b;
    opacity: .6;
    position: fixed;
    display: flex;
    align-items: center;
    & > div{
        width: 100%;
        font-size: 0.7em;
    }
}
@media (min-width: $breakpoint-tablet) {
    footer{
        position: fixed;
    }
  }