footer{
    height: 3em;
    width: 100%;
    bottom: 0;
    background-color: #4b4b4b;
    opacity: .6;
    position: fixed;
    display: flex;
    align-items: center;
    color: black;
    & > div{
        width: 100%;
        font-size: 0.7em;
    }
}
.icon1{
    & > svg > path:hover { 
        color: #eb5e28;
    }
}
@media (min-width: $breakpoint-tablet) {
    footer{
        position: fixed;
    }
  }